[Unit]
Description=SLURM GUI

[Service]
Type=simple
User=root
Group=root
TimeoutStartSec=0
Restart=on-failure
RestartSec=15s
ExecStart=/data/gui/slurm_gui/slurm_gui_run.sh
SyslogIdentifier=SLURM_GUI

[Install]
WantedBy=multi-user.targe
